/**** MOBILE FIST ****/

/* BASE ELEMENT STYLES */

* {
	box-sizing: border-box;
	}
	
body {
	text-align: center;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 0.85rem;
	line-height: 1.5;
	}
	
h1,
h2 {
	font-family: 'Fjalla One', 'sans-serif';
	margin: 0;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
a {
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	}
	
img {
	max-width: 100%;
	}



/* NAVIGATION */

.main-nav {
	margin-bottom: 25px;
	}

.main-nav a,
.footer-nav a,
.footer-name {
	display: block;
	margin: 5px 0;
	padding: 10px 15px;
	}

.footer-name {
	float: left;
	font-size: 0.85rem;
	margin-left: 0;
	padding-left: 0;
	}

#back-to-top {
	text-align: right;
	}

#back-to-top a {
	margin-right: 0;
	padding-right: 0;
	}

#main-footer-nav {
	display: none;
	}

/* LAYOUT STYLES */

.main-header {
	padding-bottom: 25px;
	}

.container {
	margin: 0 auto;
	max-width: 90%;
	}

.portfolio-module {
	margin-bottom: 30px;
	}

.main-footer {
	padding-top: 25px;
	}
	
	

/* INDIVIDUAL ELEMENT STYLES */


.header-name {
	padding: 15px 0;
	}

.profile-photo {
	width: 70%;
	}

.intro,
.contact-blurb,
.phone,
.email {
	font-size: 0.9rem;
	}

.section-title {
	display: block;
	text-transform: uppercase;
	font-weight: 800;
	padding: 25px 0;
	}
	
.portfolio-module h2 {
	margin-top: 20px;
	font-size: 1.2rem;
	font-weight: 400;
	}

#contact {
	padding-bottom: 25px;
	border-bottom: solid 1px;
	}


/* COLORS */

body {
	background-color: #fff;
	color: #b4b4b4;
	}

h1,
h2 {
	color: #4e4e4e;
	}

a {
	color: #4e4e4e;
	}

.main-header,
.main-header .container {
	background-color: #fafafa;
	}

.main-nav a {
	background-color: #fff;
	}

.container {
	background-color: #fff;
	}

.portfolio-module {
	color: #6e6e6e;
	}

.section-title {
	color: #4e4e4e;
	}

.main-footer,
.main-footer .container {
	background-color: #fafafa;
	}
	
#contact {
	border-bottom-color: #e4e4e4;
	}
	
.phone strong,
.email strong {
	color: #7e7e7e;
	}

/**** MEDIA QUERIES ****/

@media (min-width: 768px) {
	
	}
	
@media (min-width: 1024px) {
	
	}