/**** MOBILE FIST ****/

/* BASE ELEMENT STYLES */

* {
	box-sizing: border-box;
	}
	
body {
	text-align: center;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 0.85rem;
	line-height: 1.5;
	}
	
h1,
h2 {
	font-family: 'Fjalla One', 'sans-serif';
	margin: 0;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
a {
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	}
	
img {
	width: 100%;
	}



/* NAVIGATION */

.main-nav {
	margin-bottom: 25px;
	}

.main-nav a,
.footer-nav a,
.footer-name {
	display: block;
	margin: 5px 0;
	padding: 10px 15px;
	}

.footer-name {
	float: left;
	font-size: 0.85rem;
	margin-left: 0;
	padding-left: 0;
	}

#back-to-top {
	text-align: right;
	}

#back-to-top a {
	margin-right: 0;
	padding-right: 0;
	}

#main-footer-nav {
	display: none;
	}



/* LAYOUT STYLES */

.main-header {
	padding-bottom: 25px;
	}

.container {
	margin: 0 auto;
	width: 90%;
	}

.portfolio-module {
	margin-bottom: 40px;
	}

.main-footer {
	padding-top: 25px;
	}
	
	

/* INDIVIDUAL ELEMENT STYLES */


.header-name {
	padding: 15px 0;
	}

.profile-photo {
	width: 70%;
	}

.intro,
.contact-blurb,
.phone,
.email {
	font-size: 0.9rem;
	}

#portfolio-container {
	border-bottom: solid 1px;
	}

.section-title {
	display: block;
	text-transform: uppercase;
	font-weight: 800;
	padding: 25px 0;
	}
	
.portfolio-module h2 {
	margin-top: 20px;
	font-size: 1.2rem;
	font-weight: 400;
	}

#contact {
	padding-bottom: 25px;
	border-bottom: solid 1px;
	}
	
.phone strong,
.email strong {
	padding-left: 5px;
	}


/* COLORS */

body {
	background-color: #efefef;
	color: #efefef;
	}

h1 {
	color: #efefef;
	}

h2 {
	color: #4e4e4e;
	}

.main-header,
.main-footer {
	background-color: rgba(0, 58, 119, 0.8);
	}

.main-header .container,
.main-footer .container {
	background-color: rgba(255, 255, 255, 0);
	}

.main-nav a {
	background-color: #efefef;
	color: #003a66;
	}

.container {
	background-color: #efefef;
	}

#portfolio-container {
	border-bottom-color: #003a77;
	}

.portfolio-module {
	color: #6e6e6e;
	}

.section-title {
	color: #4e4e4e;
	}

.main-footer p{
	color: #efefef;
	}
	
#contact {
	border-bottom-color: #e4e4e4;
	}
	
.phone strong,
.email strong {
	color: #bfbfbf;
	}
	
.footer-nav a {
	color: #efefef;
	}

/**** MEDIA QUERIES ****/

@media (min-width: 768px) {
	
/* NAVIGATION */

.main-header {
	padding-bottom: 50px;
	}

.main-nav li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	}

#main-footer-nav {
	display: block;
	text-align: right;
	padding-bottom: 50px;
	}
	
#main-footer-nav li {
	display: inline-block;
	}
	
#main-footer-nav a{
	padding-right: 0;
	padding-left: 10px;
	margin-left: 10px;
	}
	
#back-to-top {
	display: none;
	}
	
	

/* PAGE LAYOUT */

.profile-photo {
	width: 40%;
	}

.profile-photo {
	float: right;
	padding-left: 7.5px;
	padding-right: 7.5px;
	}
	
.intro {
	width: 60%;
	text-align: left;
	padding-right: 5px;
	}

.portfolio-module {
	width: 50%;
	float: left;
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 85px;
	position: relative;
	}

#contact {
	margin: 0 auto;
	}
	
.contact-blurb,
.email,
.phone {
	margin: 0 auto 30px;
	width: 70%;
	}

.phone {
	margin: 0 auto 15px;
	}
	
.email {
	margin: 0 auto 35px;
	}
	

/* INDIVIDUAL ELEMENT STYLES */

.intro,
.contact-blurb,
.email,
.phone {
	font-size: 1rem;
	}

.portfolio-module p {
	position: absolute;
	}


/* COLORS */

.main-header a {
	background-color: #fafafa;
	}
	
.main-nav a {
	background-color: rgba(0, 0, 0, 0);
	color: #efefef;
	}
	
}
	

@media (min-width: 1024px) {

/* NAVIGATION */

.header-name {
	float: left;
	}
	
.main-nav {
	text-align: right;
	padding-top: 15px;
	}
	
.main-nav a {
	padding-right: 0;
	}

/* LAYOUT STYLES */

.container {
	max-width: 1150px;
	width: 95%;
	padding: 0 2%;
	}

.portfolio-module {
	width: 33.333%
	}

.contact-blurb,
.email,
.phone {
	width: 60%;
	}

/* INDIVIDUAL ELEMENT STYLES */

.intro,
.contact-blurb,
.phone,
.email {
	font-size: 1.1rem;
	}
	
.intro {
	padding-right: 40px;
	}
	
#portfolio-container {
	border-bottom: none;
	}

/* COLORS */

body {
	background-color: rgba(0, 58, 119, 0.8);
	}

.main-header,
.main-footer {
	background-color: rgba(0, 58, 119, 0);
	}
	
}
	
/**** CLEARFIX ****/

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
	}
	